/* * {box-sizing: border-box;} */

section h1 {
    text-align: center;
}

header {
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
}

header nav  {
    float: right;  
}

header a {
    float: left;
    color: blue;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 2px;
}

body {
    background-image: url('../img/pattern.jpg');
    margin: 0px;
}

body section{
    background-color: white;
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 100px;
}

#article-list {
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: inline-block;
}

#article-list p  {
    padding-bottom: 20px;
    border-color: grey;
    border-bottom-style: double;
    border-width: 1px;
}

footer h5 {
    /* position: static; */
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 20px;
    height: 40px;
}

@media screen and (max-width:500px) {
    header a {
        /* float:right; */
        display: block;
        text-align: left;

    }
    nav ul {
        float: none;
    }
}
