* {
  margin :0 ;
  padding: 0;
}

.card {
  width: 30%;
  margin: auto;
  margin-top: 3px;
  box-shadow: 0 15px 17px rgba(0, 0, 0, 0.04);
  padding: 20px;
}

.card p {
  color: #aaa;
  font-size: 30px;
}

.card hr {
  margin-top: 10px;
  background: #aaa;
}

.input-checkbox {
  padding: 10px;
  display: flex;
  border-bottom: 1px solid #aaa;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.input-checkbox p {
  font-size: 15px;
  color: black;
  margin-left: 10px;
}

button {
  width: 100%;
  margin-top: 10px;
  padding: 15px;
  background-color: deepskyblue;
  border: none;
  color: white;
}

button:active {
  background-color: red;
}

.card img {
  width: 100%;
}

.container-tugas10{
  width: 30%;
  margin: auto;
  margin-top: 30px;
  font-size: 25px;
}

.container-tugas10 .countdown{
  font-size: 12px;
}